body {
    color: blueviolet;
    margin-right: 30px;
    margin-left: 30px;
}

h3,li {
    color: purple;
    text-align: center;
}

hr {
    border: 5px solid yellowgreen;
}ㄴ
span {
    color: blue;
    font-size: 20px;
}
#list{
    background-color: mistyrose;
}
li:hover{
    background-color: yellow;
}
h3::first-letter{
    color: red;
}